
<div class="modal fade" id="participantReportModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3><%= t("modal.participant_reports.title") %></h3>
          </div>


          <%= form_for(:room, url: participant_reports_path(room_uid: params[:room_uid]), method: :get) do |f| %>
            <div class="row">
              <div class="col-md-4">
                <label class="form-label text-left"><%= t("modal.participant_reports.starts_at") %></label>
              </div>
              <div class="col-md-8">
                <%= f.datetime_field :starts_at, class: 'form-control', value: (Time.zone.now - 1.day).to_datetime %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="form-label text-left"><%= t("modal.participant_reports.ends_at") %></label>
              </div>
              <div class="col-md-8">
                <%= f.datetime_field :ends_at, class: 'form-control', value: (Time.zone.now).to_datetime %>
              </div>
            </div>

            <div class="mt-4">
                <%= f.submit t("modal.participant_reports.create_report"), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <input id="room-owner-uid" type="hidden">
        </div>
      </div>
    </div>
  </div>
</div>
